body {
  margin: 0 1em;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h2 {
  margin: 0.83em 0;
  font-size: 1.5em;
}

h3 {
  margin: 1em 0;
  font-size: 1.17em;
}

h4 {
  margin: 1.33em 0;
  font-size: 1em;
}

h5 {
  margin: 1.67em 0;
  font-size: 0.83em;
}

h6 {
  margin: 2.33em 0;
  font-size: 0.67em;
}

button {
  padding: 10px 20px 10px 20px;
  border: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  background: #3498db;
  box-shadow: none;
  color: #fff;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  box-shadow: none;
  text-decoration: none;
}

#tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: #333;
  color: white;
  white-space: nowrap;
  opacity: .9;
  pointer-events: none;
}

#circle circle {
  pointer-events: all;
  fill: none;
}

path.group {
  fill-opacity: .8;
}

path.chord {
  fill-opacity: .8;
  stroke: #000;
  stroke-width: .4px;
}

#circle:hover path.fade {
  fill-opacity: .1;
  stroke-opacity: 0;
  /*display: none;*/
}

