body {
  font: 14px sans-serif;
}

#tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: #333;
  color: white;
  white-space: nowrap;
  opacity: .9;
  pointer-events: none;
}

#circle circle {
  pointer-events: all;
  fill: none;
}

path.group {
  fill-opacity: .8;
}

path.chord {
  fill-opacity: .8;
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  fill-opacity: .1;
  stroke-opacity: 0;
  /*display: none;*/
}